<h1 style="text-align: center;">Liste des chiens disponibles</h1>

<div class="container-doggy">
  <div class="cards">
    <% @dogs.each do |dog| %>
      <div class="card">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('boubou.jpeg') %>);">
          <%= link_to dog.name, dog_path(dog), class: "card-title" %>
        </div>
        <div class="card-description">
          <p><strong>Breed:</strong> <%= dog.breed %></p>
          <p><strong>City:</strong> <%= dog.city %></p>
          <p><strong>Description:</strong> <%= dog.description %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
