
<section class="container-dog">
<div class="card-product">
  <%= cl_image_tag @dog.photo.key, height: 300, width: 400, crop: :fill %>
  <%#= image_tag url_for(@dog.photo) %>
  <div class="card-product-infos">
    <h2><%= @dog.name %></h2>
    <p>Descritpion du chien : <%= @dog.description %></p>
    <p>Race du chien : <%= @dog.breed %></p>
    <p>Ville : <%= @dog.city %></p>
  </div>
</div>

<div class="card-create-booking">
<h2>Create a Booking</h2>
<div class="card-create-infos">
<%= simple_form_for([@dog, @booking], url: dog_bookings_path(@dog)) do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.submit 'Create Booking' %>
<% end %>
</div>
</div>
</section>

<%= link_to "Supprimer le chien", dog_path(@dog), data: {turbo_method: :delete, turbo_confirm: "Etes-vous sur ?"}, class: "btn btn-ghost" %>
