<h1><%= @dog.name %></h1>
<p><%= @dog.description %></p>
<%=  %>
<h2>Create a Booking</h2>
<%= simple_form_for([@dog, @booking], url: dog_bookings_path(@dog)) do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.submit 'Create Booking' %>
<% end %>
