<h1 class="d-flex justify-content-center my-2 pb-2"><strong>Historique de réservations</strong></h1>

 <div class="bookings-container pb-2">
  <% if @bookings.any? %>
    <% @bookings.each do |booking| %>
      <div class="card card-hover-bigger">
          <% if booking.dog.photo.present? %>
            <div class="card-category m-1 cards-booking-size"
              style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path(booking.dog.photo.key, height: 300, crop: :fill) %>')">
              <%= link_to booking.dog.name, dog_path(booking.dog), class: "card-title" %>
            </div>
          <% else %>
            <div class="card-category">
              <%= link_to dog.name, dog_path(dog), class: "card-title" %>
            </div>
          <% end %>
          <div class="card-description mb-2">
            <p class="mx-2 py-0"><strong>Race:</strong> <%= booking.dog.breed %></p>
            <p class="mx-2"><strong>Ville:</strong> <%= booking.dog.city %></p>
            <p class="mx-2"><strong>Date de la réservation:</strong><br> <%= booking.dog.start_date %></p>
          </div>
        </div>
    <% end %>
  <% else %>
    <p>Vous n'avez aucune réservation</p>
  <% end %>
</div>
